<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{.Domain}} Stats</title>

	<link href="../bootstrap.min.css" rel="stylesheet">
	<link href="../main.css" rel="stylesheet">

</head>

<body>

	<div class="container">

		<div class="page-header">
			<h1>{{.Domain}}</h1>
		</div>

		<div id="contents">
			<h2>{{.Hits.Date | formatMonthYear}}</h2>
			<div class="qrow">
				<div class="qcolumn"></div>
				<div class="qcolumn hits">Hits</div>
				<div class="qcolumn pages">Pages</div>
				<div class="qcolumn visitors">Visitors</div>
			</div>
			{{range $day, $v := .Hits.Days}}
			<div class="qrow">
				<div class="qcolumn">{{$.Hits.Date | formatShortMonth}} {{printf "%.02d" $day}}</div>
				<div class="qcolumn" title="{{$v}}">{{$v | formatCommas}}</div>
				<div class="qcolumn" title="{{(index $.Pages.Days $day)}}">{{(index $.Pages.Days $day) | formatCommas}}</div>
				<div class="qcolumn" title="{{(index $.IPS.Days $day)}}">{{(index $.IPS.Days $day) | formatCommas}}</div>
			</div>
			{{end}}
		</div>


		<div id="contents">
			<h3>File Extensions</h3>
			<div class="fcontain">
				{{range $day, $v := .Extensions.Days}}
				<div class="fw">
					<h5>{{$.Hits.Date | formatShortMonth}} {{printf "%.02d" $day}}</h5>
					<table class="table table-bordered table-condensed">
						<tbody>
							{{range $name, $value := $v}}
							<tr>
								<td>{{if eq $name ""}}./{{else}}{{$name}}{{end}}</td>
								<td>{{$value | formatCommas}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
				{{end}}
			</div>
		</div>


		<div id="contents">
			<h3>Status Codes</h3>
			<div class="fcontain">
				{{range $day, $v := .StatusCodes.Days}}
				<div class="fw">
					<h5>{{$.Hits.Date | formatShortMonth}} {{printf "%.02d" $day}}</h5>
					<table class="table table-bordered table-condensed">
						<tbody>
							{{range $name, $value := $v}}
							<tr>
								<td title="{{$name | formatStatusCode}}" {{if eq $name "200" "304"}}class="status-green" {{end}}>{{$name}}</td>
								<td>{{$value | formatCommas}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
				{{end}}
			</div>
		</div>

	</div>
	<footer>
		<div class="container">
			<p class="text-muted">Generated: {{.DateCreated}}</p>
		</div>
	</footer>

</body>

</html>