<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{.Domain}} Stats</title>

	<link href="../bootstrap.min.css" rel="stylesheet">
	<link href="../main.css" rel="stylesheet">

</head>

<body>

	<div class="container">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="../">{{.Domain}}</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="../">Home</a></li>
						<li><a href="../errors.html">Errors</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>

		<div id="contents">
			<h2>{{.Hits.Date | formatMonthYear}}</h2>
			<div class="qrow">
				<div class="qcolumn"></div>
				<div class="qcolumn hits">Hits</div>
				<div class="qcolumn pages">Pages</div>
				<div class="qcolumn visitors">Visitors</div>
			</div>
			{{range $day, $v := .Hits.Days}}
			<div class="qrow">
				<div class="qcolumn">{{$.Hits.Date | formatShortMonth}} {{printf "%.02d" $day}}</div>
				<div class="qcolumn" title="{{$v}}">{{$v | formatCommas}}</div>
				<div class="qcolumn" title="{{(index $.Pages.Days $day)}}">{{(index $.Pages.Days $day) | formatCommas}}</div>
				<div class="qcolumn" title="{{(index $.IPS.Days $day)}}">{{(index $.IPS.Days $day) | formatCommas}}</div>
			</div>
			{{end}}

			<div class="qrow">
				<div class="qcolumn"></div>
				<div class="qcolumn total" title="">{{.Hits.Total | formatShortHand}}</div>
				<div class="qcolumn total" title="">{{.Pages.Total | formatShortHand}}</div>
				<div class="qcolumn total" title="">{{.IPS.Total | formatShortHand}}</div>
			</div>
		</div>


		<div id="contents">
			<h3>File Extensions</h3>
			<div class="fcontain">
				{{range $day, $v := .Extensions.Days}}
				<div class="fw">
					<h5>{{$.Hits.Date | formatShortMonth}} {{printf "%.02d" $day}}</h5>
					<table class="table table-bordered table-condensed">
						<tbody>
							{{range $name, $value := $v}}
							<tr>
								<td>{{if eq $name ""}}./{{else}}{{$name}}{{end}}</td>
								<td>{{$value | formatCommas}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
				{{end}}
			</div>
		</div>


		<div id="contents">
			<h3>Directories</h3>
			<div class="fcontain">
				{{range $day, $v := .Directories.Days}}
				<div class="fw">
					<h5>{{$.Hits.Date | formatShortMonth}} {{printf "%.02d" $day}}</h5>
					<table class="table table-bordered table-condensed">
						<tbody>
							{{range $directory := $v | sortedTopTwenty}}
							<tr>
								<td>{{if eq $directory.Name "/"}}/{{else}}/{{$directory.Name}}/{{end}}</td>
								<td>{{$directory.Value | formatCommas}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
				{{end}}
			</div>
		</div>


		<div id="contents">
			<h3>Status Codes</h3>
			<div class="fcontain">
				{{range $day, $v := .StatusCodes.Days}}
				<div class="fw">
					<h5>{{$.Hits.Date | formatShortMonth}} {{printf "%.02d" $day}}</h5>
					<table class="table table-bordered table-condensed">
						<tbody>
							{{range $name, $value := $v}}
							<tr>
								<td title="{{$name | formatStatusCode}}" {{if eq $name "200" "304"}} class="status-green" {{end}}>{{$name}}</td>
								<td>{{$value | formatCommas}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
				{{end}}
			</div>
		</div>

	</div>
	<footer>
		<div class="container">
			<p class="text-muted">Generated: {{.DateCreated}}</p>
		</div>
	</footer>

</body>

</html>
