<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{.Domain}} Stats</title>

	<link rel="stylesheet" href="../bootstrap.min.css">
	<link rel="stylesheet" href="../main.css">
	<script type="text/javascript" src="../jquery-3.3.1.min.js"></script>

	<script type="text/javascript">
		var cutoffTR = 20;

		$(document).ready(function() {
			// if "Show All" button is clicked
			$("#control-showall").click(function(e) {
				e.preventDefault();

				if ($(this).hasClass("btn-default")) {// show all
					$(this).removeClass("btn-default").addClass("btn-success");// toggle the "Show All" button

					$("div.fcontain").slideDown(400);// expand all the containers
					$(".fcontain table tr").show();// show all the TR past the cutoffTR
					$(".arrow").addClass("down").removeClass("right");// change hte collapse arrows
				} else {// hide all
					$(this).removeClass("btn-success").addClass("btn-default");

					$("div.fcontain").slideUp(400);
					HideCutoffTR(cutoffTR);
					$(".arrow").addClass("right").removeClass("down");
				}

			});

			// section is clicked, exand .fcontain
			$("h3.btn").click(function() {
				var arrow = $(this).children(".arrow");

				$(this).next("div").slideToggle(400, function() {
					// after it finishes, change the arrow
					if (arrow.hasClass("down")) {
						arrow.addClass("right").removeClass("down");
					} else {
						arrow.addClass("down").removeClass("right");
					}
				});


			});

			// hide all TR past cutoffTR when page loads
			HideCutoffTR(cutoffTR);
		});

		function HideCutoffTR(cutoff) {
			var tr;

			$(".fcontain table").each(function() {
				// count tr
				tr = $(this).find("tr");

				// if it has more than 'cutoff' items in this list, hide those extras
				if (tr.length > cutoff) {
					tr.slice(cutoff).hide();
				}
			});
		}
	</script>

</head>

<body>

	<div class="container">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="../">{{.Domain}}</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="../">Home</a></li>
						<li><a href="../errors.html">Errors</a></li>
					</ul>

					<form class="navbar-form navbar-right">
						<button class="btn btn-default" id="control-showall">Show All</button>
					</form>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>

		<div id="contents">
			<h2>{{.Hits.Date | formatMonthYear}}</h2>
			<div class="qrow">
				<div class="qcolumn"></div>
				<div class="qcolumn hits">Hits</div>
				<div class="qcolumn pages">Pages</div>
				<div class="qcolumn visitors">Visitors</div>
			</div>
			{{range $day, $v := .Hits.Days}}
			<div class="qrow">
				<div class="qcolumn">{{$.Hits.Date | formatShortMonth}} {{printf "%.02d" $day}}</div>
				<div class="qcolumn" title="{{$v}}">{{$v | formatCommas}}</div>
				<div class="qcolumn" title="{{(index $.Pages.Days $day)}}">{{(index $.Pages.Days $day) | formatCommas}}</div>
				<div class="qcolumn" title="{{(index $.IPS.Days $day)}}">{{(index $.IPS.Days $day) | formatCommas}}</div>
			</div>
			{{end}}

			<div class="qrow">
				<div class="qcolumn"></div>
				<div class="qcolumn total" title="">{{.Hits.Total | formatShortHand}}</div>
				<div class="qcolumn total" title="">{{.Pages.Total | formatShortHand}}</div>
				<div class="qcolumn total" title="">{{.IPS.Total | formatShortHand}}</div>
			</div>
		</div>


		<div id="contents">
			<h3 class="btn btn-primary btn-lg btn-block">File Extensions <span class="arrow right"></span></h3>
			<div class="fcontain" style="display:none;">
				{{range $day, $v := .Extensions.Days}}
				<div class="fw">
					<h5>{{$.Hits.Date | formatShortMonth}} {{printf "%.02d" $day}}</h5>
					<table class="table table-bordered table-condensed">
						<tbody>
							{{range $ext := $v | sortedStats}}
							<tr>
								<td>{{if eq $ext.Name ""}}./{{else}}{{$ext.Name}}{{end}}</td>
								<td>{{$ext.Value | formatCommas}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
				{{end}}
			</div>
		</div>


		<div id="contents">
			<h3 class="btn btn-primary btn-lg btn-block">Directories <span class="arrow right"></span></h3>
			<div class="fcontain" style="display:none;">
				{{range $day, $v := .Directories.Days}}
				<div class="fw">
					<h5>{{$.Hits.Date | formatShortMonth}} {{printf "%.02d" $day}}</h5>
					<table class="table table-bordered table-condensed">
						<tbody>
							{{range $directory := $v | sortedStats}}
							<tr>
								<td>{{if eq $directory.Name "/"}}/{{else}}/{{$directory.Name}}/{{end}}</td>
								<td>{{$directory.Value | formatCommas}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
				{{end}}
			</div>
		</div>


		<div id="contents">
			<h3 class="btn btn-primary btn-lg btn-block">Status Codes <span class="arrow right"></span></h3>
			<div class="fcontain" style="display:none;">
				{{range $day, $v := .StatusCodes.Days}}
				<div class="fw">
					<h5>{{$.Hits.Date | formatShortMonth}} {{printf "%.02d" $day}}</h5>
					<table class="table table-bordered table-condensed">
						<tbody>
							{{range $name, $value := $v}}
							<tr>
								<td title="{{$name | formatStatusCode}}" {{if eq $name "200" "304"}} class="status-green" {{end}}>{{$name}}</td>
								<td>{{$value | formatCommas}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
				{{end}}
			</div>
		</div>

	</div>
	<footer>
		<div class="container">
			<p class="text-muted">Generated: {{.DateCreated}}</p>
		</div>
	</footer>

</body>

</html>
